// src/styles/global.scss
@import './variables';
@import './mixins';

#root {
  width: 100%;
  height: 100%;
}
body,
button {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  background: #fff;
  color: #111;
}
input:focus {
  outline: none;
}
.app {
  padding: 1.5rem;
}

.text-xsmall {
  font-size: 0.625rem;
  color: #79736d;
}
.text-small {
  font-size: 0.75rem;
  color: #79736d;
}

.product-specs {
  margin: 5rem 0;
}
.cart-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 1rem;
}
.cart-footer-button-container {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  width: 25%;
}
.cart-item-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  margin: 2rem 2rem;
}
.cart-total {
  display: flex;
  gap: 2rem;
}
.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem;
  border-bottom: 1px solid #eee;
  gap: 1rem;
}

@media (max-width: 640px) {
  .home-container {
    padding: 0rem !important;
    margin: 0 !important;
  }
  main {
    padding: 0 !important;
  }
  .product-detail-main {
    margin: 0 !important;
  }
  .product-detail-layout {
    flex-direction: column !important;
    gap: 1rem !important;
    justify-content: center !important;
  }
  .product-detail-image img {
    width: 100% !important;
    height: auto !important;
    max-width: 400px !important;
  }
  .product-detail-info {
    width: 100% !important;
  }

  .app {
    margin: 0 0rem !important;
  }

  .storage-options button {
    width: 80px !important;
    height: 50px !important;
    font-size: 0.8rem !important;
  }
  .similar-items {
    margin-top: 1.5rem !important;
  }
  .phone-card {
    min-width: 360px !important;
    max-height: 344px !important;
    padding-bottom: 2rem !important;
  }
  .similar-items {
    overflow-x: visible !important;
  }

  .cart-footer-container {
    width: 100% !important;
  }
  .cart-footer-button-container {
    width: 90% !important;
  }
  .cart-footer-button-container button {
    width: 100% !important;
    font-size: 55% !important;
    height: 2.5rem !important;
  }

  .cart-total {
    position: absolute;
    bottom: 15%;
    left: 5%;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
  }
  .cart-item > div > img {
    width: 160px !important;
    height: 200px !important;
  }
  .cart-item > div > div {
    margin: 0 !important;
  }

  .cart-item-container {
    margin: 0 !important;
    padding: 0.5rem !important;
    justify-content: space-evenly !important;
  }
}
